.logo-text {
    color: #1d2b41;
    .logo-text-top {
        font-size: 1rem;
        font-weight: bold;
    }
    .logo-text-bottom {
        font-size: 0.75rem;
        font-weight: 500;
        color: #555555;
        line-height: 0.75rem;
    }
}
