<section class="w-full">
  <div class="flex min-h-[calc(100vh-65px)] flex-col gap-6 bg-cover bg-center bg-no-repeat items-center justify-center px-4 py-16 text-center" 
       style='background-image: linear-gradient(rgba(26, 58, 95, 0.7) 0%, rgba(26, 58, 95, 0.5) 100%), url("https://lh3.googleusercontent.com/aida-public/AB6AXuCKiLrzFF5bXjlbFKcnkYLPJXcUPCT7O5NIB1wujUgTTpHJtvIx6BznBusuqRSEaiKRzmC_Zr2OwZByS-BBS4bDPGiR3nWzLXJQSCxdtlziZ5FPvaCgV44Wa3tFGdcqu4vTsyjyk7Nzt1yu-VWvZrX4mGL1o4Bi9qJj6sIFF9MfcedQaWk4Ut3_HpEzh7W7PoYwjISTdeMa5BOjFb3d1Z1BkPuCPfnlTI6Mr4yT8xuQ09hcqRlD6CxuL1myNh_sonp_BamdDg022BV-");'>
    <div class="flex flex-col gap-4 max-w-4xl">
      <h1 class="text-white text-4xl font-black leading-tight tracking-[-0.033em] md:text-6xl">
        Transforming Spaces, Building Dreams
      </h1>
      <h2 class="text-gray-200 text-base font-normal leading-normal md:text-xl">
        Expert renovations for commercial, family, and real estate properties.
      </h2>
    </div>
    <button class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-12 px-5 bg-secondary text-primary text-base font-bold leading-normal tracking-[0.015em] mt-4 hover:opacity-90 transition-opacity" (click)="navigateToContact()">
      <span class="truncate">Schedule Your Free Consultation</span>
    </button>
  </div>
</section>
